body{
    background-color: beige;
}
.header{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    gap: 50px;
}
.inHeader{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.searchbar{
    height: 10px;
    align-self: center;
}
.main{
    display: flex; 
    flex-direction: column;
    background-color:beige;
    height:80dvh;
    width: 80dvw;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
}